$utilities: map-merge(
  $utilities,
  (
    "backdrop-filter": (
      property: backdrop-filter,
      class: bg-blur,
      responsive: true,
      values: (
        0: blur(0px),
        5: blur(5px),
        10: blur(10px),
        20:blur(20px),
        50: blur(50px),
        100: blur(100px)
      ),
    ),
    "bg-opacity": map-merge(
      map-get($utilities, "bg-opacity"),
      ( responsive: true ),
    ),
  )
);