@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
$primary: #0000af;
$danger: #ff4136;

$theme-colors: map-merge($theme-colors, (
  "primary": $primary
));



@import "bootstrap/scss/bootstrap";
